@charset "utf-8";

.slide {

    .item-text {
        width: 80%;
        font-size: 1.2rem;
        font-weight: normal;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .list {
        list-style: none;
    }

    .list-item {
        position: relative;
    }

    .role:before {
        position: absolute;
        left: -40px;
    }

    .role:nth-child(even):before {
        content: "她：";
    }
    .role:nth-child(odd):before {
        content: "我：";
    }

    .item-image {
        width: 80%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}
