@import "../helpers/global-variables";
@import "slide_base";

.slide-9 {
    background-color: $slide-9-color;

    .item-image {
        width: 98%;
        margin: 0 auto;
        margin-top: 5rem;
    }
}

