@charset "UTF-8";

// colors
$slide-1-color: #ffebee;
$slide-2-color: #fce4ec;
$slide-3-color: #f3e5f5;
$slide-4-color: #ede7f6;
$slide-5-color: #e8eaf6;
$slide-6-color: #e3f2fd;
$slide-7-color: #e1f5fe;
$slide-8-color: #e0f7fa;
$slide-9-color: #e0f2f1;
